body {
    color: rgb(230,245,247);
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-text {
    order: 1;
    padding-top: 25px;
    flex: 60%;
}

.about-creators {
    text-align: center;
    display: none;
    padding: 20px 0;
}

.name {
    color: darkorange;
    font-size: 12px;
}

.about-text p {
    padding: 20px 60px;
    text-align: justify;
    font-size: 11px;
}

.about-text h5 {
    text-align: justify;
    padding: 0px 60px;
}

.headshots-container {
    padding-top: 25px;
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headshot-sub {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headshot-photo {
    padding: 20px 0;
    max-height: 240px;
    border-radius: 50%;
    max-width: 177px;
}

@media screen and (min-width: 360px) {

    .headshots-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 500px) {

    .headshots-container {
        flex-direction: row;
        padding-top: 10px;
    }

    .headshot-photo {
        max-width: 300px;
    }

    .about-creators-alternate {
        display: none;
    }

    .about-creators {
        display: block;
    }

    .hamburger-container, .fa-bars {
        display: none;
    }

    .link {
        width: 60px;
        font-size: 0.7rem;
        display: flex;
    }

    .link-github {
        font-size: .75em;
        width: 45px;
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .content-container {
        flex-direction: row;
    }

    .headshots-container {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 25px;
    }

    .about-text {
        order: 0;
        padding-top: 35px;
    }

    .headshot-photo {
        max-width: 177px;
    }

    /* .headshot-sub {
        max-height: 1000px;
        max-width: 177px;
        border: 1px solid red;
    } */
}

@media screen and (min-width: 1200px) {
    .hamburger-dropdown {
        display: none;
    }

    .hamburger-container,
    .fa-bars {
        display: none;
    }

    .link {
        width: 120px;
        font-size: 0.9rem;
        display: flex;
    }

    .link-github {
        font-size: 1em;
        width: 60px;
        display: flex;
    }

    .site-name {
        font-size: 40px;
    }

    .nav-bar {
        height: 60px;
    }

    .headshots-container {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .headshot-photo {
        max-width: 300px;
    }
}