::selection {
    background: darkorange;
}

html {
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    min-width: 360px;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: rgb(38, 38, 38);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nav-bar, .footer {
    font-family: "Raleway", sans-serif;
    min-width: 360px;
    display: flex;
    position: relative;
    background-color: #333;
    width: 100%;
    height: 45px;
    align-items: center;
    z-index: 1;
}

.left-header {
    display: flex;
    align-items: center;
    width: 50%;
}

.right-header {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.right-header div {
    display: flex;
    height: 100%;
    align-items: center;
}

.site-name {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(230,245,247);
    margin-left: 15px;
    margin-bottom: 0;
    padding-left: 0px;
    font-size: 20px;
}

.site-anchor:hover {
    text-decoration: none;
}

.home, .about {
    color: rgb(230,245,247);
    border-right: rgba(245,245,245, .4) 1px solid;
    padding: 10px;
    margin: 0px;
    height: 100%;  
    font-size: 1.5rem;
}

.link {
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    height: 100%;
    text-decoration: none;
    color:rgba(245, 245, 245, .7);
    width: 84px;
    font-size: 0.2rem;
}
    
.link-github, .hamburger-container {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(245, 245, 245, .7);
}

.link-github {
    display:none;
}

.hamburger-container {
    margin-right: 8px;
}

.link:hover, .link-github:hover, .hamburger-container:hover {
    background-color: grey;
    text-decoration: none;
    color: rgb(230,245,247);
}

.hamburger-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    float: right;
    right: 0px;
    width: 90px;
    color:rgba(245, 245, 245, .7);
    background-color: #333;
    z-index: 1;
    border-top: rgba(245, 245, 245, .4) 1px solid;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 150ms linear;
}

.hamburger-item, .hamburger-item-github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgba(245, 245, 245, .7);
    border-bottom: rgba(245, 245, 245, .4) 1px solid;
    text-decoration: none;
    padding: 14px 0px;
    margin: 0px;
}

.hamburger-item-github {
    border-bottom: 0;
}

.hamburger-item:hover, .hamburger-item-github:hover {
    background-color: grey;
    color: rgb(230, 245, 247);
    text-decoration: none;
}

.form-outer-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 25px;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}

.form-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    opacity: 1;
}

.welcome-text-container {
    font-family: 'Raleway', sans-serif;
    min-width: 320px;
    background-color: rgba(51,51,51,0.7);
    color: rgb(230,245,247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 75px 0 50px 0;
    height: 100px;
}

.welcome {
    font-size: 24px;
    padding: 10px 0 5px 0;
}

.welcome-sub {
    font-size: 12px;
}

.welcome-sub2 {
    padding-top: 0px;
    font-size: 11px;
}

form {
    display:flex;
    flex-direction: column;
    min-width: 280px;
    position: relative;
    opacity: 1;
}

.address {
    opacity: 1;
}

.city {
    width: 275px;
}

.state {
    width: 200px;
}

/* input:invalid {
    border-color: red;
}

input,
input:valid {
    border-color: #ccc;
} */

.form-row {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin:0;
    padding: 0;
}

.submit-button-container {
    display: flex;
    width: 45%;
}

.form-button button {
    width: 100%;
}

.state, .city, .street-address, label {
    margin-bottom: 0px;
    margin-top: 3px;
}

label {
    color: rgb(38, 38, 38);
    font-size: 11px;
    padding-bottom: 10px;
}

.form-control {
    width: 300px;
    margin-bottom: 10px;
}

.list-officials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke(0, 0, 0, 0.8);
    padding: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.division-button {
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    font-size: 11px;
}

.division-button:hover {
    background-color: darkorange;
}

.btn-primary {
    background-color: darkorange;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(38, 38, 38);
    border: none;
}

.btn:focus {
    outline:0 !important;
}

.official-box {
    background-color: #333;
    color: whitesmoke;
    padding: 25px;
    flex: 1;
    flex-grow: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    font-size: 11px;
}

.official-box:hover {
    outline: darkorange 1px solid;
    background-color: rgb(73, 70, 70);
}

.social-popup, .article-popup {
    background: lightgray;
    color: rgb(28,28,28);
    padding: 0 20px 15px 20px;
}

.social-popup a {
    font-size: 16px;
}

.available-articles {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: rgb(28,28,28);
}

.channel-div, .article-div {
    padding: 10px 0;
}

.close-box {
    position: relative;
    top: 3px;
    right: -12px;
    text-align: right;
}

.fa-times {
    cursor: pointer;
}

.official-box a:link {
    color: darkorange;
    text-decoration: none;
}

.official-box a:visited {
    color: darkorange;
}

.official-imageUrl-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(28,28,28,0.3);
}

.official-imageUrl {
    align-self: center;
}

.official-image {
    width: 200px;
    max-height: 100%;
}

.no-official-image {
    width: 200px;
}

.hidden {
    display: none;
}

.hidden-menu {
    transform: scaleY(0);
    transition: all 150ms linear;
}

.hidden-alt {
    z-index: -1;
    opacity: 0;
}

@media screen and (min-width: 360px) {

    .hamburger-container, .fa-bars {
        display: flex;
    }

    .button-container {
        flex-direction: column;
    }

    .link {
        width: 40px;
        font-size: 0.5rem;
        display: none;
    }

    .link-github {
        font-size: .5em;
        width: 30px;
        display: none;
    }

    .site-name {
        font-size: 25px;
    }    

    .nav-bar {
        height: 45px;
        position: relative;
    }

    .welcome-text-container {
        width: 320px;
        margin: 90px 0 70px 0;
    }
    
    .welcome {
        font-size: 24px;
    }
    
    .welcome-sub {
        font-size: 12px;
    }
    
    .welcome-sub2 {
        padding-top: 0;
        font-size: 11px;
    }

}

@media screen and (min-width: 768px) {

    .hamburger-dropdown {
        display: none;
    }

    .hamburger-container, .fa-bars {
        visibility: hidden;
    }

    .button-container {
        flex-direction: row;
    }

    .link {
        width: 60px;
        font-size: 0.7rem;
        display: flex;
    }

    .link-github {
        font-size: .75em;
        width: 45px;
        display: flex;
    }

    .site-name {
        font-size: 25px;
        margin-left: 15px;
    }

    .nav-bar {
        height: 45px;
    }

    .button-container {
        padding-top: 10px;
    }

    .division-button {
        border: none;
        border-bottom: 1px solid white;
        margin: 10px;
        background-color: transparent;
    }

    .division-button:hover {
        border-bottom: 1px solid darkorange;
        background-color: transparent;
        color: darkorange;
    }

    .welcome-text-container {
        height: 130px;
        width: 400px;
        margin: 75px 0 50px 0;
    }

    .welcome {
        font-size: 32px;
        padding: 20px 0 5px 0;
    }

    .welcome-sub {
        font-size: 13px;
        padding-bottom: 0;
    }

    .welcome-sub2 {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {

    .hamburger-dropdown {
        display: none;
    }

    .hamburger-container, .fa-bars {
        visibility: hidden;
    }

    .link {
        width: 120px;
        font-size: 0.9rem;
        display: flex;
    }

    .link-github {
        font-size: 1em;
        width: 60px;
        display: flex;
    }

    .site-name {
        font-size: 36px;
    }

    .nav-bar {
        height: 60px;
    }

    .welcome-text-container {
        width: 450px;
    }

    .welcome {
        font-size: 36px;
        padding-top: 15px;
    }
}