
.list-officials {
    display: flex;
    flex-wrap: wrap;
}

.official-box {
    background-color: #333;
    color: whitesmoke;
    border: 1px solid red;
    padding: 15px;
    /* flex: 0 0 20%; */
    flex: 1;
    flex-grow: 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.social-popup {
    background: lightgray;
    color: rgb(28,28,28);
    padding: 20px;
}

.official-box a:link {
    color: darkorange;
    text-decoration: none;
}

.official-box a:visited {
    color: darkorange;
}

.official-imageUrl {
    align-self: center;
    padding-bottom: 15px;
}

.official-image {
    width: 200px;
    border-radius: 50%;
}

.no-official-image {
    max-width: 200px;
}

.hidden {
    display: none;
}