html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
}

.form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
    padding: 15px;
}

form {
    display:flex;
    flex-direction: column;
    width: 40%;
    border: 1px green solid;
    min-width: 380px;
}

.state {
    margin-left: 25px;
}

.submit-button {
    width: 185px;
}

.list-officials {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}

.official-box {
    background-color: #333;
    color: whitesmoke;
    border: 1px solid red;
    padding: 15px;
    flex: 0 0 20%;/*auto;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.official-box a:link {
    color: darkorange;
}

.official-box a:visited {
    color: darkorange;
}

.official-imageUrl {
    align-self: center;
    padding-bottom: 15px;
}

.official-image {
    max-width: 200px;
    border-radius: 50%;
}

.no-official-image {
    max-width: 200px;
}

.hidden {
    display: none;
}